.caixa{
background-color:black;
height: 300px;
width: 300px;
border: 15px double cyan;
box-shadow: 1px 1px 1000px skyblue;

}
#box{
font-family: Georgia, 'Times New Roman', Times, serif;
border-radius: 50%;
}


.texto{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 5px dotted yellow;
    width: 310px;

}
#titulo{
    border-top: 5px dotted yellow;
    border-radius:100px;
    }


.conteudo{
color: springgreen;
text-align: center;

}
#content{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding-top: 80px;
}


body{
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}


